/* #region base */
body{
    font-family: "Manrope", sans-serif;
    color: #fcf9f9;
    background-color: #1c2225;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
button{
    cursor: pointer;
}
address{
    font-style: normal;
}
.container {
    max-width: 1280px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
}
/* #endregion */
/* #region header */
.header-container {
    display: flex;
    align-items: center;
}
.nav-header {
    display: flex;
    align-items: center;
}
.logo-link {
    margin-right: 60px;
}
.nav-list {
    display: flex;
    gap: 25px;
}
.nav-link{
    display: block;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 17px;
}
.nav-link:hover, .nav-link:focus{
    color: #ecd979;
}
.header-contacts {
    margin-left: auto;
    display: flex;
}
.contacts-tel {
    display: inline-block;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    min-width: 193px;
    height: 48px;
    font-size: 14px;
    line-height: 1.43;
    margin-right: 20px;
}
.contacts-tel:hover, .contacts-tel:focus{
    border: 1px solid #ecd979;
}
.soc-list {
    display: flex;
    gap: 12px;
}
.soc-item {
    width: 44px;
    height: 44px;
}
.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 100%;
    height: 100%;
    background: rgba(252, 249, 249, 0.1);
}
.soc-link:hover, .soc-link:focus{
    border: 1px solid #ecd979;
    background-color: transparent;
}
/* #endregion */